<launch>
    <param name="robot_description" textfile="$(find tameshiwari)/rp_robot_description/urdf/rp_robot.urdf" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE" />
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find tameshiwari)/rp_robot_description/launch/config.rviz" />
</launch>

<!-- roslaunch tameshiwari rviz.launch model:='$(find tameshiwari)/rp_robot_description/urdf/rp_robot.urdf' -->
<!-- THIS LAUNCHER IS USED WHEN EVER THE JOINT_STATE_PUBLISHER IS DESIRED TO BE USED WITH THE SLIDERS
     OTHER LAUNCHERS ARE AVAILABLE IF PUBLISHING JOINT STATES FROM PYTHON IS MORE DESIRED -->