<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Robot Model -->
    <param name="robot_description" command="cat $(arg model)" />
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <!-- Spawn the robot model -->
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model rp_robot -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>

<!-- roslaunch tameshiwari spawn.launch model:='$(find tameshiwari)/rp_robot_description/urdf/rp_robot.urdf' -->